langchain 
ipykernel
langchain-core
databricks-langchain
faiss-cpu
pypdf2
chroma 
streamlit==1.44.0
tensorflow 
numpy
pandas
scikit-learn
langchain-huggingface
langchain-groq
langchain-community
cassio
datasets 
tiktoken
transformers
bs4
pypdf 
groq
tf-keras
datasets 
tiktoken
