streamlit
langchain-community
langchain-huggingface
python-dotenv
langchain
langchain-core
ipykernel
tf-keras
transformers
huggingface-hub
langchain-groq
pypdf
faiss-cpu
cassio 
datasets 
langchain 
sentence-transformers
cassio
torch 
torchaudio 
torchvision 
tensorflow
typing-extensions
lamini
databricks-langchain
chroma
streamlit==1.44.0
tensorflow
numpy
pandas
scikit-learn
datasets
tiktoken
transformers
bs4
openai
